@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gr10: #1a1919;
    --gr20: #272625;
    --gr30: #343232;
    --gr40: #4e4b4b;
    --gr50: #8f8a8a;
    --gr60: #c1bebe;
    --gr70: #e6e5e6;
    --gr80: #f3f2f2;
    --gr90: #f8f7f7;
    --gr100: #ffffff;
    --pr10: #ec6560;
    --pr20: #f4a9a4;
    --pr30: #f9d4d2;
    --pr40: #fdeded;
    --pr50: #fff6f5;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
    font-family: 'Pretendard', sans-serif; /* Pretendard 폰트 전역에 적용 */
  }
}

.app-container {
  position: relative;
  margin: 0 auto;
  height: 100dvh;
  max-width: 450px;
  font-weight: 400;
  color: var(--gr10);
}
